/* Universal Indicator */
/* Body Styling */
body {
    background-image: url('/Cell_Repair_Website/Images/mobiCareBackground.webp');
}
/* Navigation Bar */
/* Logo Styling */
.mobiCareLogo {
    width: 100%;
    background-color: white;
}
/* Media Screen */

/* Navigation Bar */
.navigationAnchor {
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.navigationLinks {
    display: flex;
    list-style-type: none;
    padding: 10px 0;
    border: solid 1px;
    border-bottom: none;
    border-top: none;
}

#menuItem1 {
    border-left: none;
}

.navigationLinks a {
    color: black;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin: 0 10px;
}

a:hover {
    color: red;
}

li::before {
    content: "";
}

li::after {
    box-shadow: 10px 10px darkgray;
}
/* Media Screen */

/* Banner Image Styling */
.bannerImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: white;
}

.bannerImage img {
    max-width: 100%;
}

.bannerImage img > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
/* Media Screen */

/* Home Page Content Styling */
.homePageContent {
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
}

.homePageContent > div {
    display: block;
}

.contentAlign {
    text-align: center;
    font-size: 18px;
}

h2 {
    color: red;
    display: block;
    font-size: 26px;
    font-weight: bold;
    font-family: arial black, arial, sans-serif;
}

h1 {
    color: darkblue;
    display: block;
    font-size: 30px;
    font-weight: bold;
    font-family: arial black, arial, sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}