#socialMedia {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    align-items: center;
    padding: 1% 10%;
}

#socialMedia div {
  display: flex;
}

#socialMedia p {
  margin-right: 20px;
}

.socialIcons {
    justify-content: space-between;
}

.socialIcons i {
  margin: 0 5px;
}