/* Universal Indicator */
/* Navigation Bar */
/* Logo Styling */
.mobiCareLogo {
    width: 100%;
}

.navigationAnchor {
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.navigationLinks {
    display: flex;
    list-style-type: none;
    padding: 10px 0;
}

.navigationLinks a {
    color: black;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    margin: 0 10px;
}